<?php

return [
	'oml' => [
		'zf2-api-service' => [
			'twilio' => [
				'account_sid' => 'xxx-xxx-xxx',
				'auth_token'  => 'xxx-xxx-xxx',
				'from' => 'xxx-xxx-xxx'
			],
			'templates' => [
				'verification-message' => 'Your verfication code is %code%, do not share this code with anyone for security reasons'
			]
		]
	]
];
